# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.gatsby-gigya-id.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\dina\demo\gatsby-gigya-id\.idea\.idea.gatsby-gigya-id.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
